{% macro renderInputText(model, property, label, errorMessages, locale) %}
    <div class="form-group{% if errorMessages[property] is defined %} has-error{% endif %}">
        <label class="control-label col-lg-2" for="{{ property }}">{{ label|translate(locale) }}</label>
        <div class="col-lg-10">
            <input type="text" id="{{ property }}" name="{{ property }}" value="{{ model[property] }}" class="form-control">
            {% if errorMessages[property] is defined %}
                {% for message in errorMessages[property] %}
                    <span class="help-block">{{ message|translate(locale) }}</span>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro renderInputDate(model, property, label, errorMessages, locale) %}
    <div class="form-group{% if errorMessages[property] is defined %} has-error{% endif %}">
        <label class="control-label col-lg-2" for="{{ property }}">{{ label|translate(locale) }}</label>
        <div class="col-lg-10">
            <input type="text" id="{{ property }}" name="{{ property }}" value="{{ model[property] }}" data-provide="datepicker" data-date-format="yyyy-mm-dd" class="form-control">
            {% if errorMessages[property] is defined %}
                {% for message in errorMessages[property] %}
                    <span class="help-block">{{ message|translate(locale) }}</span>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro renderInputPassword(model, property, label, errorMessages, locale) %}
    <div class="form-group{% if errorMessages[property] is defined %} has-error{% endif %}">
        <label class="control-label col-lg-2" for="{{ property }}">{{ label|translate(locale) }}</label>
        <div class="col-lg-10">
            <input type="password" id="{{ property }}" name="{{ property }}" class="form-control">
            {% if errorMessages[property] is defined %}
                {% for message in errorMessages[property] %}
                    <span class="help-block">{{ message|translate(locale) }}</span>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro renderSelect(model, property, label, options, errorMessages, locale) %}
    <div class="form-group{% if errorMessages[property] is defined %} has-error{% endif %}">
        <label class="control-label col-lg-2" for="{{ property }}">{{ label|translate(locale) }}</label>
        <div class="col-lg-10">
            <select id="{{ property }}" name="{{ property }}" class="form-control" data-placeholder="{{ (label~'._placeholder')|translate(locale) }}" placeholder="{{ (label~'._placeholder')|translate(locale) }}">
                {% for labelKey, value in options %}
                    <option value="{{ value }}"{% if value == model[property] %} selected="selected"{% endif %}>{{ (label~"."~labelKey)|translate(locale) }}</option>
                {% endfor %}
            </select>
            {% if errorMessages[property] is defined %}
                {% for message in errorMessages[property] %}
                    <span class="help-block">{{ message|translate(locale) }}</span>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro renderAjaxSelect(model, property, label, route, nameField, errorMessages, locale) %}
    <div class="form-group{% if errorMessages[property] is defined %} has-error{% endif %}">
        <label class="control-label col-lg-2" for="{{ property }}">{{ label|translate(locale) }}</label>
        <div class="col-lg-10">
            <select id="{{ property }}" name="{{ property }}" class="form-control" data-ajax="1" data-select2-rendering="1" data-route="{{ route }}" data-choice-label="{{ nameField }}" data-placeholder="{{ (label~'._placeholder')|translate(locale) }}" placeholder="{{ (label~'._placeholder')|translate(locale) }}">
                {% if model[property] %}
                    <option value="{{ model[property].id }}" selected="selected">{{ model[property][nameField] }}</option>
                {% endif %}
            </select>
            {% if errorMessages[property] is defined %}
                {% for message in errorMessages[property] %}
                    <span class="help-block">{{ message|translate(locale) }}</span>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro renderSelectMultiple(model, property, label, options, errorMessages, locale) %}
    <div class="form-group{% if errorMessages[property] is defined %} has-error{% endif %}">
        <label class="control-label col-lg-2" for="{{ property }}">{{ label|translate(locale) }}</label>
        <div class="col-lg-10">
            <select id="{{ property }}" name="{{ property }}[]" multiple="multiple" class="form-control" data-placeholder="{{ (label~'._placeholder')|translate(locale) }}" placeholder="{{ (label~'._placeholder')|translate(locale) }}">
                {% for labelKey, value in options %}
                    <option value="{{ value }}"{% if value in model[property] %} selected="selected"{% endif %}>{{ (label~"."~labelKey)|translate(locale) }}</option>
                {% endfor %}
            </select>
            {% if errorMessages[property] is defined %}
                {% for message in errorMessages[property] %}
                    <span class="help-block">{{ message|translate(locale) }}</span>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro renderCollection(model, property, label, locale, fields) %}
    <div class="form-group">
        <label class="control-label col-lg-2" for="{{ property }}">{{ label|translate(locale) }}</label>
        <div class="col-lg-10">
            <div id="{{ property }}" data-prototype="{{ _self.renderCollectionRow(property, label, locale, '__name__', value, fields)|escape('html') }}">
                <ul class="bc-collection list-unstyled">
                    {% for key, value in model[property] %}
                        <li>
                            {{ _self.renderCollectionRow(property, label, locale, key, value, fields) }}
                        </li>
                    {% endfor %}
                </ul>
                <a href="#" class="btn btn-primary btn-small" data-addfield="collection" data-collection="{{ property }}" data-prototype-name="__name__">{{ (label~'._add')|translate(locale) }}</a>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro renderCollectionRow(property, label, locale, key, value, fields) %}
    <div class="row">
        <div class="col-xs-12">
            <div id="{{ property }}_{{ key }}" class="form-groups">
                {% for field in fields %}
                    {{ attribute(_self, field.macro, [value]|merge(field.arguments)) }}
                {% endfor %}
            </div>
        </div>
        <div class="col-xs-12 col-lg-offset-2">
            <a href="#" class="btn btn-danger btn-small" data-removefield="collection" data-field="{{ property }}_{{ key }}">{{ (label~'._remove')|translate(locale) }}</a>
        </div>
    </div>
{% endmacro %}
