{% extends "@Energycalculator/baselayout.html.twig" %}

{% import "@Energycalculator/_form.html.twig" as forms %}

{% block title %}{{ parent() }} - {{ "day.title.edit"|translate(locale) }}{% endblock %}

{% block container %}
    <div class="row">
        <div class="col-xs-12">
            <h1>{{ "day.title.edit"|translate(locale) }}</h1>
            <form action="{{ path_for('day_edit', {'locale': locale, 'id': day.id}) }}" method="post" class="form-horizontal">
                {{ forms.renderInputDate({'model': day, 'property': 'date', 'label': 'day.label.date', 'errorMessages': errorMessages, 'locale': locale}) }}
                {{ forms.renderInputText({'model': day, 'property': 'weight', 'label': 'day.label.weight', 'errorMessages': errorMessages, 'locale': locale}) }}
                {{ forms.renderCollection({'model': day, 'property': 'comestiblesWithinDay', 'label': 'day.label.comestiblesWithinDay', 'errorMessages': errorMessages, 'locale': locale, 'fields': [
                    {'macro': 'renderAjaxSelect','parameters': {'property': 'comestible','label': 'day.label.comestiblesWithinDay.comestible','route': path_for('comestible_findbynamelike', {'locale': locale})}},
                    {'macro': 'renderInputText','parameters': {'property': 'amount','label': 'day.label.comestiblesWithinDay.amount'}}
                ]}) }}
                <input type="hidden" name="csrf" value="{{ csrf }}">
                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                        <button type="submit" class="btn btn-success" name="save" value="save" title="{{ "day.label.save"|translate(locale) }}">
                            <i class="glyphicon glyphicon-save"></i>
                        </button>
                        <a class="btn btn-default" href="{{ path_for('day_list', {'locale': locale}) }}" title="{{ "day.action.list"|translate(locale) }}">
                            <i class="glyphicon glyphicon-list-alt"></i>
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
