{% extends "@Energycalculator/baselayout.html.twig" %}

{% block title %}{{ parent() }} - {{ "day.title.list"|translate(locale) }}{% endblock %}

{% block container %}
    {% set days = elements %}
    <div class="row">
        <div class="col-xs-12">
            <h1>{{ "day.title.list"|translate(locale) }}</h1>
            <div class="button-bar">
                <a class="btn btn-default btn-sm" href="{{ path_for('day_create', {'locale': locale}) }}" title="{{ "day.action.create"|translate(locale) }}">
                    <i class="glyphicon glyphicon-plus"></i>
                    {{ "day.action.create"|translate(locale) }}
                </a>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>{{ "day.label.id"|translate(locale) }}</th>
                        <th>{{ "day.label.date"|translate(locale) }}</th>
                        <th>{{ "day.label.weight"|translate(locale) }}</th>
                        <th>{{ "day.label.calorie"|translate(locale) }}</th>
                        <th>{{ "day.label.protein"|translate(locale) }}</th>
                        <th>{{ "day.label.carbohydrate"|translate(locale) }}</th>
                        <th>{{ "day.label.fat"|translate(locale) }}</th>
                        <th>{{ "day.label.actions"|translate(locale) }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for day in days %}
                        <tr>
                            <td>{{ day.id }}</td>
                            <td>{{ day.date }}</td>
                            <td>{{ day.weight }}</td>
                            <td>{{ day.calorie }}</td>
                            <td>{{ day.protein }}</td>
                            <td>{{ day.carbohydrate }}</td>
                            <td>{{ day.fat }}</td>
                            <td>
                                <a href="{{ path_for('day_update', {'locale': locale, 'id': day.id}) }}" type="button" class="btn btn-default btn-sm" title="{{ "day.action.update"|translate(locale) }}">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                </a>
                                <a href="{{ path_for('day_read', {'locale': locale, 'id': day.id}) }}" type="button" class="btn btn-default btn-sm" title="{{ "day.action.read"|translate(locale) }}">
                                    <i class="glyphicon glyphicon-eye-open"></i>
                                </a>
                                <form action="{{ path_for('day_delete', {'locale': locale, 'id': day.id}) }}" method="post" class="inline-form">
                                    <input type="hidden" name="csrf" value="{{ csrf }}">
                                    <button type="submit" class="btn btn-danger btn-sm" title="{{ "day.action.delete"|translate(locale) }}">
                                        <i class="glyphicon glyphicon-remove"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
